#*#
.#*
*~
*.a
*.bit
*.class
*.cmd
*.d
*.ko
*.mod.c
*.ngc
*.o
*.pyc
reg_defines*.h
reg_defines*.pm
reg_defines*.py
registers.v
*.so
.*.swp

synth/

nf_download
.tmp_versions/
Module.symvers
modules.order
regread
regwrite
nf_info
src_coregen/
projects/cpci/lib/
projects/reference_nic/lib/
projects/router_buffer_sizing/lib/
counterdump
cli
regdump
show_stats
monitor_ctrl
rcv_evts
projects/router_kit/lib/
common
rkd
projects/scone/lib/
scone
bad_pkt_dump
selftest

projects/rtt_probe/synth/